* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f5f9;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 800px;
  margin: auto;
}

main h1 {
  padding: 40px;
  text-align: center;
  color: #1e293b;
  font-size: 3rem;
}

.buttons-container {
  padding: 25px;
  text-align: center;
}

.btn {
  margin-right: 15px;
  background-color: #cbd5e1;
  border: 1px solid #94a3b8;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background-color: #e2e8f0;
}

i {
  padding: 20px;
}

.current-play {
  text-align: center;
  padding: 20px;
  gap: 20px;
}

.current-player,
.current-computer {
  width: 148.672px;
  height: 135.328px;
}

.current-play {
  display: flex;
  justify-content: center;
}

.results {
  text-align: center;
}

.restart {
  text-align: center;
}

.restart-btn {
  text-align: center;
  padding: 15px 40px;
  margin: 20px;
  border-radius: 5px;
  background-color: #f1f5f9;
  font-size: 1rem;
  border: 1px solid #94a3b8;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}

.restart-btn:hover {
  cursor: pointer;
  background-color: #94a3b8;
  color: #fff;
}

p {
  padding: 5px;
}

.p-player-score,
.p-computer-score {
  margin-top: 15px;
  text-transform: uppercase;
  color: #475569;
  letter-spacing: 3px;
}

.current-computer,
.current-player {
  background-color: #cbd5e1;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
